
#all{
    background-image: url(../img/remote.jpg);
    height: 750px;
    background-size: 100%;
}
#i{
    background-image: url(../img/2222.jpg);
    height: 70px;
    width: 70px;
    display: inline-table;

}
#ii{
    background-image: url(../img/44.jpg);
    height: 70px;
    width: 70px;
    display: inline-table;
}
#iii{
    background-image: url(../img/11.jpg);
    height: 70px;
    width: 70px;
    display: inline-table;
}
#name{
    display: inline-table;
}
p{
    font-size: 30px;
    margin-bottom: 50px;
}