h1{
    color: black;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-style: groove;
    border-color: black;
    padding-top: 30px;
    background-color: rgb(241, 240, 240);
}